body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fce4ec;
        font-family: 'Quicksand', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.heart {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Afasta o coração do topo */
    margin-bottom: 30px; /* Aumenta a distância entre o coração e a mensagem */
    cursor: pointer;
}

.heart img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.heart:active img {
    transform: scale(1.1);
}

.message {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    
}

.openNor {
    display: block;
}
